@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
.page {
	width: %50;
	height: 842px;
	background-color: white;
	margin-left: 20px;
}
.profile-image-border {
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
}
.link-image-border {
	border-color: white;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px; 
}
.header-margin {
	padding-left: 20px;
}
#photo {
	padding: 30px 30px 30px 30px;
}
body {
    background-color: grey;
}
h1 {
	font-family: 'Antonio', sans-serif;
	font-size: 48px;
	text-align: center;
	padding-bottom: 5px;
	color: white;
	background-color: rgb(33, 97, 140);
}
h2,h3 {
	color: black;
	font-size: 20px;
}
p {
	font-size: 12px;
	font-family: monospace;
}
tr {
	height: 50px;
}
